.header {
  color: var(--white);
  display: grid;

  &__main {
    height: 50rem;
    grid-template: 7.2rem 1fr / 1fr;
    margin-bottom: 25.5rem;
  }
}

.heading {

  &__main {
    place-self: end start;
  }
}