.pagination {
  color: var(--white);

  &__section,
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--xxs);
  }
  &__text {
    margin-right: 2.5rem;
  }

  &__link {
    color: inherit;
    font-weight: 700;
    padding: .7rem 1.4rem;
    border-radius: 10rem;

    &_current,
    &:hover {
      color: var(--red);
      background: var(--white);
    }
  }
  &_main {
    margin-bottom: 15rem;
  }
}
