// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;

  color: var(--white);

  border-radius: 10rem;

  &_primary {
    background-color: var(--red);
    height: 5.2rem;
    padding: 1.5rem 4rem;

    transition: all .2s ease-in-out;

    &:hover {
      background-color: var(--vermillion);
      transform: translateY(-.3rem);
    }
  }

  &_welcome {
    padding: 1.5rem 6rem;
  }
}