// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;

  color: var(--white);

  border-radius: 10rem;

  &__primary {
    background-color: var(--red);
    height: 5.2rem;
    padding: 1.5rem 4rem;

    transition: all .2s ease-in-out;

    &:hover {
      background-color: var(--vermillion);
      transform: translateY(-.3rem);
    }

    &_tours {
      color: var(--red);
      background-color: var(--white);
      border: 1px solid var(--red);
      width: 13rem;
      padding: 1.5rem 2.8rem;

      &:hover {
        color: var(--white);
      }
    }
  }

  &_welcome {
    padding: 1.5rem 6rem;
  }

  &_tours {
    color: red;
  }
}