.contacts {
  color: var(--white);
  &__tel {
    color: inherit;
    font-size: var(--xm2);
  }

  &__text {
    text-align: right;
    font-size: var(--xs);

    transition: all .1s ease-in;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

// .modal {}
