/**
 * Basic typography style for copy text
 */
.title {

  &__h1 {}

  &__h2 {}

  &__h3 {}

  &__h4 {}

  // accessibility purposes only
  &_welcome {
    color: $white;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 6rem;
  }
}