/**
 * Basic typography style for copy text
 */
.title {



  &__h1 {}

  &__h2 {}

  &__h3 {}

  &__h4 {}
}

.greeting {
  color: $white;
  
  &__item {
    font-size: 1.8rem;
    line-height: 1.2;

    &_welcome {
      margin-bottom: 6rem;
    }
  }
}