:root {
  --white: hsl(0, 0%, 100%);
  --white-60: hsla(0, 0%, 100%, .6);
  --brown-grey: hsl(0, 0%, 61%);
  --brown-grey-two: hsl(0, 0%, 56%);
  --brown-grey-three: hsl(0, 0%, 49%);
  --brownish-grey: hsl(0, 0%, 40%);
  --greyish-brown: hsl(0, 0%, 27%);
  --dark-grey: hsl(216, 6%, 17%);
  --dark-grey-two: hsl(225, 7%, 11%);
  --dark-grey-three: hsl(220, 6%, 10%);
  --dark-grey-four: hsl(240, 4%, 17%);
  --dark-grey-five: hsl(210, 3%, 12%);
  --black: hsl(0, 0%, 0%);
  --black-two: hsl(0, 0%, 19%);
  --black-three: hsl(0, 0%, 17%);
  --navy: hsl(196, 100%, 6%);
  --red: hsl(0, 100%, 43%);
  --vermillion: hsl(2, 92%, 51%);
  --xxl: 7.2rem;
  --xl: 4.8rem;
  --l: 3.6rem;
  --xxm: 3rem;
  --xm: 2.4rem;
  --xm2: 2.6rem;
  --m: 1.8rem;
  --xxs: 1.6rem;
  --xs: 1.4rem;
  --s: 1.1rem
;
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  background-color: transparent;
}

button,
button:active,
button:visited {
  border: none;
}

img {
  height: 100%;
  border-style: none;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25rem;
}

sup {
  top: -0.5rem;
}

ul {
  list-style: none;
}

.invisible {
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
  }
}

.title {
  color: var(--white);
  font-weight: 700;
}

.title__h1 {
  font-size: var(--xxl);
}

.title__h1_main {
  margin-bottom: 2.8rem;
}

.title__h2 {
  font-size: var(--l);
}

.title__h3 {
  font-size: var(--xm);
}

.title_break {
  display: block;
  line-height: 1.2;
}

.title_welcome {
  font-size: var(--m);
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 6rem;
}

.title_welcome-main {
  display: block;
  font-size: var(--m);
  font-weight: 400;
  line-height: 1;
  margin-bottom: 3rem;
}

.title_hot {
  margin-bottom: 5rem;
}

.title_hot::after {
  content: url("../images/icons/flame.png");
  margin-left: 1rem;
}

.title_tours {
  color: var(--black);
  margin-bottom: 2.5rem;
}

.about__main {
  min-height: 56rem;
  position: relative;
  margin-bottom: 4.5rem;
}

.about__decor-img, .about__article {
  position: absolute;
  border-radius: 1rem;
}

.about__decor-img {
  max-height: 50rem;
  top: 0;
  left: 0;
}

.about__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("../images/decor/mountains.jpg") -20rem 0 no-repeat;
  max-width: 78rem;
  min-height: 45.5rem;
  bottom: 0;
  right: 0;
  padding: 8rem 8rem 7.5rem 9rem;
}

.about__title {
  font-size: var(--l);
  color: var(--black);
}

.about__text {
  font-size: var(--xxs);
  line-height: 1.8;
  color: var(--black-two);
}

.about__btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.footer__main {
  height: 14.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  color: var(--white);
  display: -ms-grid;
  display: grid;
}

.header__main {
  height: 50rem;
  -ms-grid-rows: 7.2rem 1fr;
  -ms-grid-columns: 1fr;
      grid-template: 7.2rem 1fr / 1fr;
  margin-bottom: 25.5rem;
}

.heading__main {
  place-self: end start;
  margin-bottom: 0;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news {
  color: var(--white);
}

.news__main, .news__title {
  margin-bottom: 5rem;
}

.news__subtitle {
  font-size: var(--xm);
  margin-bottom: 1rem;
}

.news__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: (1fr)[2];
      grid-template: auto/repeat(2, 1fr);
  gap: 3rem;
}

.news__item {
  min-height: 39rem;
  border-radius: 1rem;
  padding: 5rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.news__item_cristmas {
  background: url("../images/content/news/plain.jpg") top/cover no-repeat;
}

.news__item_winserf {
  background: url("../images/content/news/surfer.jpg") top/cover no-repeat;
}

.news__time {
  font-size: var(--xs);
  margin-bottom: 2rem;
}

.news__text {
  font-size: var(--xxs);
}

.pagination {
  color: var(--white);
}

.pagination__section, .pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: var(--xxs);
}

.pagination__text {
  margin-right: 2.5rem;
}

.pagination__link {
  color: inherit;
  font-weight: 700;
  padding: .7rem 1.4rem;
  border-radius: 10rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.pagination__link_current, .pagination__link:hover {
  color: var(--red);
  background: var(--white);
}

.pagination_main {
  margin-bottom: 15rem;
}

.tours__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15rem;
}

.tours__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 36rem;
  background: var(--white) 0 -4rem/contain no-repeat;
  overflow: hidden;
  border-radius: 1rem;
  padding-top: 14rem;
}

.tours__item_first {
  background-image: url("../images/content/offers/river.jpg");
}

.tours__item_second {
  background-image: url("../images/content/offers/pool.jpg");
}

.tours__item_third {
  background-image: url("../images/content/offers/ocean.jpg");
}

.tours__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 100%;
  padding: 3rem 4rem 3rem 2rem;
  background-color: inherit;
}

.tours__services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: var(--xxs);
  line-height: 1.4;
  color: var(--brownish-grey);
}

.tours__description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: var(--xs);
  line-height: 1.5;
  margin-bottom: 3rem;
}

.services__icon {
  margin-right: .7rem;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.services__item:not(:last-child) {
  margin-right: 3rem;
}

.wrapper {
  overflow: hidden;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: start center;
  background-color: var(--navy);
}

.wrapper__welcome {
  place-items: center center;
}

.wrapper__main {
  background: url(../images/bg/hero.jpg) top center no-repeat, url(../images/bg/bottom-pic.jpg) bottom center no-repeat, var(--navy);
}

.container {
  width: 114.2rem;
  min-height: 100vh;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--white);
  border-radius: 10rem;
}

.btn__primary {
  background-color: var(--red);
  padding: 1.6rem 4rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn__primary:hover {
  background-color: var(--vermillion);
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
}

.btn__primary_tours {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  padding: 1.5rem 2.8rem;
  color: var(--red);
  background-color: var(--white);
  border: 1px solid var(--red);
}

.btn__primary_tours:hover {
  color: var(--white);
}

.btn_welcome {
  padding: 1.5rem 6rem;
}

.contacts {
  color: var(--white);
}

.contacts__tel {
  color: inherit;
  font-size: var(--xm2);
}

.contacts__text {
  text-align: right;
  font-size: var(--xs);
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

.contacts__text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.contacts__text_small {
  color: var(--brown-grey);
  font-size: var(--s);
}

.contacts__text_small:hover {
  text-decoration: none;
  cursor: none;
}

.contacts__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 20rem;
}

.logo__link {
  display: inline-block;
  width: 9.8rem;
  margin-right: 6.6rem;
}

.logo__picture, .logo__img {
  width: 100%;
}

.menu__main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100%;
  -ms-grid-columns: 16.5rem 1fr -webkit-max-content;
  -ms-grid-columns: 16.5rem 1fr max-content;
      grid-template: 100% / 16.5rem 1fr -webkit-max-content;
      grid-template: 100% / 16.5rem 1fr max-content;
  place-items: center start;
  height: 7.5rem;
  width: 100%;
  border: 1px solid darkgreen;
}

.nav {
  width: 100%;
  height: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
}

.nav__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100%;
  -ms-grid-columns: (minmax(-webkit-min-content, -webkit-max-content))[3];
  -ms-grid-columns: (minmax(min-content, max-content))[3];
      grid-template: 100%/repeat(3, minmax(-webkit-min-content, -webkit-max-content));
      grid-template: 100%/repeat(3, minmax(min-content, max-content));
  -webkit-column-gap: 5.5rem;
          column-gap: 5.5rem;
  place-items: center;
  min-height: 100%;
}

.nav__item:not(:last-child) {
  margin-right: 5rem;
}

.nav__link {
  color: var(--white);
  font-size: var(--xs);
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.nav__link:hover {
  color: var(--vermillion);
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20rem;
}

.social__main {
  margin-right: 7.5rem;
}

.social__link {
  display: inline-block;
  width: 3.6rem;
  height: 3.6rem;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.social__link_telegram {
  background: url("../images/icons/socials/t.png") no-repeat;
}

.social__link_telegram:hover {
  background: url("../images/icons/socials/t2.png") no-repeat;
}

.social__link_vk {
  background: url("../images/icons/socials/vk.png") no-repeat;
}

.social__link_vk:hover {
  background: url("../images/icons/socials/vk2.png") no-repeat;
}

.social__link_facebook {
  background: url("../images/icons/socials/f.png") no-repeat;
}

.social__link_facebook:hover {
  background: url("../images/icons/socials/f2.png") no-repeat;
}

.social__link_inst {
  background: url("../images/icons/socials/in.png") no-repeat;
}

.social__link_inst:hover {
  background: url("../images/icons/socials/in2.png") no-repeat;
}

.welcome {
  background: var(--white) url(../images/bg/screen.jpg) top/cover no-repeat;
}

.welcome__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (-webkit-min-content)[3];
  -ms-grid-rows: (min-content)[3];
  -ms-grid-columns: minmax(-webkit-min-content, 60rem);
  -ms-grid-columns: minmax(min-content, 60rem);
      grid-template: repeat(3, -webkit-min-content)/minmax(-webkit-min-content, 60rem);
      grid-template: repeat(3, min-content)/minmax(min-content, 60rem);
  place-items: start center;
  background: url(../images/decor/shades.png) center no-repeat;
}
/*# sourceMappingURL=main.css.map */