html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  background-color: transparent;
}

button,
button:active,
button:visited {
  border: none;
}

img {
  height: 100%;
  border-style: none;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25rem;
}

sup {
  top: -.5rem;
}

.invisible {
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
  }
}

/**
 * Basic typography style for copy text
 */
.title_welcome {
  color: white;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 6rem;
}

.wrapper {
  overflow: hidden;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
}

.wrapper__welcome {
  min-width: auto;
  place-items: center center;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: white;
  border-radius: 10rem;
}

.btn_primary {
  background-color: #db0000;
  height: 5.2rem;
  padding: 1.5rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.btn_primary:hover {
  background-color: #f5170f;
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
}

.btn_welcome {
  padding: 1.5rem 6rem;
}

.logo__welcome {
  width: 28rem;
  margin-bottom: .5rem;
}

.welcome {
  background: white url(../images/bg/screen.jpg) top/cover no-repeat;
}

.welcome__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (-webkit-min-content)[3];
  -ms-grid-rows: (min-content)[3];
  -ms-grid-columns: minmax(-webkit-min-content, 60rem);
  -ms-grid-columns: minmax(min-content, 60rem);
      grid-template: repeat(3, -webkit-min-content)/minmax(-webkit-min-content, 60rem);
      grid-template: repeat(3, min-content)/minmax(min-content, 60rem);
  place-items: start center;
  background: url(../images/decor/shades.png) center no-repeat;
}
/*# sourceMappingURL=main.css.map */